<header>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">ShopApp</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni iste enim numquam, aliquam consequuntur dicta adipisci! Minus saepe optio perspiciatis quam, possimus quod sapiente est a fuga sed enim laboriosam.</p>
            </div>
        </div>
    </header>