 @model Product
 <div class=" card">
    <img class="card-img-top" src="https://cdn03.ciceksepeti.com/cicek/kcm9235270-1/L/yenilenmis-apple-iphone-x-white-64gb-12-ay-garantili-kcm9235270-1-45e44faa9dc743f8b56eef8f8d7035a0.jpg" alt="">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Model.Description</p>
        <a href="" class="btn btn-primary">Detay</a>
    </div>
</div>   